<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.organizationiworkfor.ribbit" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.organizationiworkfor.ribbit.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:protectionLevel="signature"
        android:name="com.organizationiworkfor.ribbit.permission.C2D_MESSAGE" />

    <uses-feature android:name="android:hardware:camera" />

    <application
        android:name=".RibbitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.LogInActivity"
            android:label="@string/title_activity_log_in"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.SignUpActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".UI.LogInActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.EditFriendsActivity"
            android:label="@string/title_activity_edit_friends"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UI.RecipientActivity"
            android:label="@string/title_activity_recipient"
            android:parentActivityName=".UI.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.organizationiworkfor.ribbit.UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.ViewImageActivity"
            android:label="@string/title_activity_view_image"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.organizationiworkfor.ribbit.UI.MainActivity" />
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.organizationiworkfor.ribbit" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
